<% if current_user && current_user.admin?%>
  <%= link_to 'Toolbar', toolbar_admin_user_path(current_user)%>
<%elsif current_user && !current_user.admin?%>
  <h1><%= t('.title') %></h1>
  <p>by Antonio Montana</p>
  <%= link_to t('common.search'), new_search_path %>
<% end %>