<p> Билеты у пользователя :</p>
<% if @tickets.empty? %>
  <p>У пользователя нету билетов</p>
<% else %>
  <ul>
   <% @tickets.each do |ticket| %>   
    <li><%= link_to "#{ticket.number}", ticket_path(ticket) %></li>
   <% end %>
  </ul>
<% end %>

<%= link_to 'Профиль', current_user %>