<p id="notice"><%= notice %></p>
<h1>Список вагонов</h1>
<table>
  <thead>
    <tr>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @carriages.each do |carriage| %>
      <tr>
        <td> <%= carriage.type %></td>      
      </tr>
   <% end %>
  </tbody>
</table>
<%= link_to 'Создать новый вагон', new_carriage_path %>
<%= link_to 'Главная', '/'%>