<h1>Поиск билетов </h1>
<%= form_tag search_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search_begin, params[:search_begin] %>
    <---->
    <%= text_field_tag :search_end, params[:search_end] %>    
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

