/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 

 
 
/*.jumbotron{  
  background-color:#16BEEB;
  color:white;
  font-size: 100px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.container.jumbotron{
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom:0px;
}*/

.container{
  margin-bottom:0px;
}
.title{    
}
.container.jumbotron {
  background-color: #f4511e; /* Orange */
  color: #ffffff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 120px;  
  padding-top:10px;
}
.bg-grey {
  background-color: #f6f6f6;
}
.exit{
  float:right;
  padding-right:20px;
}
body{  
  margin:40px;
  background-color:#f4f1e9;
}
.search{
  background-color:#ffffff;
  padding-bottom:20px;
  border-radius: 10px
}
.container.footer{  
  bottom: 0;  
  height: 80px;
  color:white;
  background-color: black;  
  font-family: 'Pacifico', cursive;  
}



