<h1>Изменить пользователя</h1>
  <%= render 'form' %>
<div class='form-group'>
  <%= link_to t('common.main'), toolbar_admin_user_path(current_user), class:'btn' %>
  <%= link_to t('common.back'), admin_users_path, class:'btn' %>
</div>